[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "vendor/ruby"]
	path = vendor/ruby
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/smtlaissezfaire/yasnippet.git
[submodule "vendor/treetop-mode"]
	path = vendor/treetop-mode
	url = git://github.com/smtlaissezfaire/treetop-mode.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/smtlaissezfaire/magit.git
[submodule "vendor/git-emacs"]
	path = vendor/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = git://github.com/defunkt/cheat.el.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/erlang_mode"]
	path = vendor/erlang_mode
	url = git://github.com/smtlaissezfaire/erlang_mode.git
[submodule "vendor/whitespace-el"]
	path = vendor/whitespace-el
	url = git://github.com/smtlaissezfaire/whitespace-el.git
