[submodule "vendor/slime"]
	path = vendor/slime
	url = git://github.com/pat-maddox/slime.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "vendor/ruby"]
	path = vendor/ruby
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
